.data-table-container {
    margin-top: 40px;
    min-height: 400px;
    max-height: 800px;
    width: 80%;
  
    .modal-content {
      padding: 16px;
  
      .button-close {
        margin-top: 16px;
      }
    }
  }
